vendor
**/node_modules/
.env
.env.*
.DS_Store
.git
mysql_data*
jsconfig.json
pnpm-lock.yaml
styles.css
README.md
docker
docker-compose*
.gitignore
.prettierrc
.prettierignore
.dockerignore
sql
build.sh
