@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: Poppins;
  --font-mono: JetBrains Mono;

  --color-primary-light: #74598f;
  --color-primary-dark: #3f2b56;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-neutral-800, currentColor);
  }
}

html {
  @apply font-sans;
}

body {
  @apply dark:bg-neutral-950 dark:text-neutral-100 bg-neutral-50 text-neutral-900;
}

::-webkit-scrollbar {
  @apply h-2 w-2;
}

::-webkit-scrollbar-track {
  @apply bg-inherit;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-700;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-600;
}

input,
select,
textarea {
  @apply border border-neutral-300 dark:border-neutral-700 rounded-lg bg-neutral-100 dark:bg-neutral-900 placeholder:text-neutral-500 px-2 py-1 focus:ring-2 transition-all ring-primary-dark dark:dark:ring-primary-light focus:outline-hidden outline-hidden w-full;
}
label {
  @apply text-neutral-600 dark:text-neutral-400 font-medium text-base mb-1 block;
}

h1 {
  @apply text-5xl font-extrabold md:text-4xl;
}

h2 {
  @apply text-4xl font-bold md:text-3xl;
}

h3 {
  @apply text-3xl font-bold md:text-2xl;
}

h4 {
  @apply text-2xl font-bold md:text-xl;
}

h5 {
  @apply text-xl font-bold md:text-lg;
}

h6 {
  @apply text-lg font-bold md:text-base;
}
